<div class="section" id="contact-page">
	<div class="container">
		<div class="one-third column">
			<div class="section-header">
				contact
			</div>
			<ul>
				<li>
					<p>arthackday@gmail.com</p>
				</li>
				<li>	
					<div class="basic-colfax">OLOF MATHÉ</div>
					<p><a href="">@olofster</a></p>
				</li>
				<li>
					<div class="basic-colfax">PAUL CHRISTOPHE</div>
					<p><a href="">@captDaylight</a></p>
				</li>
				<li>
					<div class="basic-colfax">DAVID HUERTA</div>
					<p><a href="">@huertanix</a></p>
				</li>
			</ul>
		</div>
		<div class="two-third column">
			<div class="section-header">
				send us a message
			</div>
			<%= form_for @message do |f| %>
				<%= f.text_field :email, :placeholder => "Email Address", :class => "contact-input" %>
				<%= f.text_field :subject, :placeholder => "Subject", :class => "contact-input" %>
				<%= f.text_area :body, :placeholder => "Your Message..." %>
				<%= f.submit "SEND", :class => "contact-submit" %>
			<% end %>
		</div>
	</div>
</div>