<div class="section" id="contact-page">
	<div class="container">
		<div class="one-third column">
			<h4 class="section-header">
				contact
			</h4>
			<ul>
				<li>
					<p>arthackday@gmail.com</p>
				</li>
				<li>	
					<h4 class="basic-colfax">OLOF MATHÉ</h4>
					<p><a href="">@olofster</a></p>
				</li>
				<li>
					<h4 class="basic-colfax">PAUL CHRISTOPHE</h4>
					<p><a href="">@captDaylight</a></p>
				</li>
				<li>
					<h4 class="basic-colfax">DAVID HUERTA</h4>
					<p><a href="">@huertanix</a></p>
				</li>
			</ul>
		</div>
		<div class="two-thirds column">
			<h4 class="section-header">
				send us a message
			</h4>
			<% if @message.errors.any? %>
		    <div id="error-explanation">
		      <h2><%= pluralize(@message.errors.count, "error") %> stopped this message from being sent:</h2>
		      <ul>
		      <% @message.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
			<%= form_for @message do |f| %>
				<%= f.text_field :email, :placeholder => "Email Address", :class => "contact-input" %>
				<br>
				<%= f.text_field :subject, :placeholder => "Subject", :class => "contact-input" %>
				<br>
				<%= f.text_area :body, :placeholder => "Your Message..." %>
				<br>
				<%= f.submit "SEND", :class => "contact-submit" %>
			<% end %>
		</div>
	</div>
</div>