<div class="space"></div>
<div class="section">
  <div class="container">
		<h1>Admin ALL the Things</h1>
		<p>Pay no attention to us behind the curtain.</p>
		<br>
		<ul>
		  <li><%= link_to 'Manage venues like a BOSS', venues_path %></li><br>
		  <li><%= link_to 'Manage participants like a BOSS', participants_path %></li><br>
		  <li><%= link_to 'Manage projects like a BOSS', projects_path %></li><br>
		  <li><%= link_to 'Manage events on main page with a special link which is visible only to organizers', events_path %></li><br>
		  <li><%= link_to 'Organize the organizers (org level admin only)', organizers_path %></li><br>
		</ul>
	</div>
</div>