<%= form_for(@participant) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_field :bio %>
  </div>
  <div class="field">
    <%= f.label :twitter_handle %><br>
    <%= f.text_field :twitter_handle %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <small>Don't forget the http:// or https:// if you're ~CYPHERPUNK~</small><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
  </div>
  <div class="field">
    <span>Events this participant <em>participated</em> in:</span>
    <%= hidden_field_tag "participant[event_ids][]", nil %>
    <% Event.all.each do |event| %>
      <label class="checkbox">
      <%= check_box_tag "participant[event_ids][]", event.id, @participant.event_ids.include?(event.id), id: dom_id(event) %>
      <%= event.theme + " - " + event.city %>
      </label>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
