<div class="space"></div>
<div class="section">
  <div class="container">

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @participant.bio %>
</p>

<p>
  <strong>Twitter handle:</strong>
  <%= @participant.twitter_handle %>
</p>

<p>
  <strong>Website:</strong>
  <%= @participant.website %>
</p>

<p>
  <strong>Events:</strong>
  <% @participant.events.each do |event| %>
    <%= event.theme + " " %>
  <% end %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant), class: 'admin-form-button' %> 
<%= link_to 'Back', participants_path, class: 'admin-form-button' %>
</div>
</div>
