<div class="section" id="landing-header" style="
  background: #000 url('<%= @events.first.header_image %>');
  background-repeat:<%= (@events.first.header_image_tiled? ? 'repeat' : 'no-repeat') %>;">

	<%= link_to(@events.first) do %>
	<div class="event-callout">
		<div id="hero"><%= @events.first.theme %></div>
		<div id="sub-hero">
			<%=  @events.first.venue.nil? ? "TBA" : @events.first.venue.city %>_<%= @events.first.venue.nil? ? "TBA" : @events.first.venue.name %>_<%= @events.first.hackathon_start.strftime('%^B') %> 
			<%= @events.first.hackathon_start.strftime('%-d') %>-<%= @events.first.show_start.strftime('%-d') %>
		</div>
	</div>
	<% end %>
		
	<% unless @events.first.header_image_artist.blank? %>
    <div id="header-credit">
      <a href="<%= @events.first.header_image_artist_website %>">IMAGERY BY: <%= @events.first.header_image_artist %></a>
    </div>
  <% end %>
</div>

<div class="section top-margin" id="ahd-about">
	<div class="container">
		<div id="ahd-tagline" class="sixteen columns">
			ART HACK DAY IS AN EVENT FOR HACKERS WHOSE MEDIUM IS ART AND ARTISTS WHOSE MEDIUM IS TECHNOLOGY_<a href="/about">LEARN MORE</a>
		</div>
	</div>	
</div>

<div class="section top-margin">
	<div class="container">
		<div class="sixteen columns section-header"><a href="/events">Events _ most recent</a></div>

		<ul id="events" class="sixteen columns">
		  <% @events.each do |event| %>
		      <li <%= event.upcoming? ? 'class=upcoming' : nil %>>
   			    <%= link_to(event) do %>
	   			    <div class="event-wrapper">
				      	<div class="left-event"><%= event.theme%></div>
				      	<div class="right-event">
				      		<div class="event-page"> <%= event.hackathon_start.strftime('%^B') %> <%= event.hackathon_start.strftime('%-d') %>-<%= event.hackathon_end.strftime('%-d') %>, <%= event.hackathon_start.strftime('%^Y') %></div>
				      		<div class="event-page-time"><%=  event.venue.nil? ? "TBA" : event.venue.city %>_<%= event.venue.nil? ? "TBA" : event.venue.name %></div>
				      	</div>
					</div>
			    <% end %>
		      	<% if organizer_signed_in? %>
		      	<br>
			        <span><%= link_to 'Show', event %></span>
			        <span><%= link_to 'Edit', edit_event_path(event) %></span>
			        <span><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></span>
			        <br>
		      	<% end %>
		      </li>
		  <% end %>
		</ul>
	</div>
	<br>
</div>

<!-- <div class="section">
	<div class="container" id="contact">
		<div class="sixteen columns">
  		To contact us about bringing Art Hack Day to your city or providing sponsorship, contact us at <b>arthackday at gmail dot com</b>.
  		</div>
	</div>
</div> -->