<% if @events.empty? %>
<div class="section" id="landing-header">
  <div class="event-callout">
    <div id="hero">Missing Event Data</div>
    <div id="sub-hero">
      <h3>The abyss stares back.</h3>
    </div>
  </div>
</div>
<% else %>
<div class="section <%= @events.first.header_image_tiled? ? 'tiled-header' : 'centered-header' %>" id="landing-header">
  <% unless @events.first.header_image.blank? %>
    <script type="text/javascript">
      // Load 20+ MB gifs only after the rest of the page loads
      $(function() {
        $('#landing-header').css("background-image", "url(<%=@events.first.header_image%>)");
      });
    </script>
  <% end %>
	<%= link_to(@events.first) do %>
	<div class="event-callout">
		<div id="hero" style="<%= (@events.first.header_dark_font? ? 'color:#000;' : '') %>"><%= @events.first.theme %></div>
		<div id="sub-hero" style="<%= (@events.first.header_dark_font? ? 'color:#000;' : '') %>">
			<h3 style="<%= (@events.first.header_dark_font? ? 'color:#000;' : '') %>"><%=  @events.first.venue.nil? ? "TBA" : @events.first.venue.city %>_<%= @events.first.venue.nil? ? "TBA" : @events.first.venue.name %>_<%= @events.first.hackathon_start.strftime('%^B') %> 
			<%= @events.first.hackathon_start.strftime('%-d') %>-<%= @events.first.show_start.strftime('%-d') %></h3>
		</div>
	</div>
	<% end %>
		
	<% unless @events.first.header_image_artist.blank? %>
    <div id="header-credit">
      <h4><a href="<%= @events.first.header_image_artist_website %>" 
      	style="<%= (@events.first.header_dark_font? ? 'color:#000;' : '') %>">IMAGERY BY: <%= @events.first.header_image_artist %></a></h4>
    </div>
  <% end %>
</div>
<% end %>

<div class="section top-margin" id="ahd-about">
	<div class="container">
		<div id="ahd-tagline" class="sixteen columns">
			<h2>
				ART HACK DAY IS AN EVENT FOR HACKERS WHOSE MEDIUM IS ART AND ARTISTS WHOSE MEDIUM IS TECHNOLOGY_<a href="/about">LEARN MORE</a>
			</h2>

		</div>
	</div>	
</div>

<div class="section top-margin">
	<div class="container">
		<div class="sixteen columns section-header">
			<h4>Events _ most recent</h4>
		</div>
    <% if organizer_signed_in? %>
      <div class="sixteen columns" style="margin-bottom:40px;">
        <%= link_to 'New Event', new_event_path, class: 'admin-button' %>
      </div>
    <% end %>
		<ul id="events" class="sixteen columns">
		  <% @events.each do |event| %>
		    <%= link_to(event) do %>
	        <li <%= event.upcoming? ? 'class=upcoming' : nil %>>
     			  <div class="event-wrapper">
  	      	  <div class="left-event"><h2><%= event.theme %></h2></div>
  	      	  <div class="right-event">
  	      		  <div class="event-page"><h4> <%= event.hackathon_start.strftime('%^B') %> <%= event.hackathon_start.strftime('%-d') %>-<%= event.hackathon_end.strftime('%-d') %>, <%= event.hackathon_start.strftime('%^Y') %></h4></div>
  	      		  <div class="event-page-time"><h4><%=  event.venue.nil? ? "TBA" : event.venue.city %>_<%= event.venue.nil? ? "TBA" : event.venue.name %></h4></div>
  	      	  </div>
  		      </div>
  	      </li>
  	      <% if organizer_signed_in? %>
  		      <div style="margin-bottom:40px;"><%= link_to "Edit #{event.theme}", edit_event_path(event), class: 'admin-button' %></div>
  	      <% end %>
			  <% end %>
		  <% end %>
		</ul>
	</div>
</div>