<div class="section" id="landing-header" style="
  background: #000 url(<%= @events.first.header_image %>);">
	<div class="container">
		<div class="event-callout sixteen columns">
			<%= link_to(@events.first) do %>
				<div id="hero"><%= @events.first.theme %></div>
				<div id="sub-hero">
					<%= @events.first.hackathon_start.strftime('%-d') %>-<%= @events.first.show_start.strftime('%-d') %>
				</div>
			<% end %>
		</div>
	</div>
	<% unless @events.first.header_image_artist.blank? %>
    <div id="header-credit">
      <a href="<%= @events.first.header_image_artist_website %>">IMAGERY BY: <%= @events.first.header_image_artist %></a>
    </div>
  <% end %>
</div>

<div class="section top-margin" id="ahd-about">
	<div class="container">
		<div id="ahd-tagline" class="sixteen columns">
			ART HACK DAY IS AN EVENT FOR HACKERS WHOSE MEDIUM IS ART AND ARTISTS WHOSE MEDIUM IS TECHNOLOGY_<a href="/about">LEARN MORE</a>
		</div>
	</div>	
</div>

<div class="section top-margin">
	<div class="container">
		<div class="sixteen columns section-header"><a href="/events">Events _ most recent</a></div>
		<ul id="events-homepage">
		  <% @events.sorted_by_date.each do |event| %>
		      <li class="one-third column event-homepage" <%= event.upcoming? ? 'class=upcoming' : nil %>>
		      	<div class="event-display"></div>
		        <div class="event-title">
		      		<%= link_to(event) do %>
		        	<%= event.theme %>
		        	<br/>
		        	<%= event.city.upcase + ' _ ' + event.hackathon_start.strftime('%Y') %>
		        	<% end %>
		        </div>
		        <div class="event-short-about">
		        	<%= event.theme_excerpt %>
		        	<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
		        </div>
		        <div class="event-short-more"><%= link_to(event) do %>. . . READ MORE<% end %></div>
		      </li>
		  <% end %>
		</ul>
	</div>
	<br>
</div>

<!-- <div class="section">
	<div class="container" id="contact">
		<div class="sixteen columns">
  		To contact us about bringing Art Hack Day to your city or providing sponsorship, contact us at <b>arthackday at gmail dot com</b>.
  		</div>
	</div>
</div> -->