<% if @future_events.empty? %>
<div class="section" id="landing-header">
  <div class="event-callout">
    <div id="hero">Missing Event Data</div>
    <div id="sub-hero">
      <h3>The abyss stares back.</h3>
    </div>
  </div>
</div>
<% else %>
<div class="section <%= @future_events.last.header_image_tiled? ? 'tiled-header' : 'centered-header' %>" id="landing-header">
  <% unless @future_events.last.header_image.blank? %>
    <script type="text/javascript">
      // Load 20+ MB gifs only after the rest of the page loads
      $(function() {
        $('#landing-header').css("background-image", "url(<%=@future_events.last.header_image%>)");
      });
    </script>
  <% end %>
	<%= link_to(@future_events.last) do %>
	<div class="event-callout">
		<div id="hero" style="<%= (@future_events.last.header_dark_font? ? 'color:#000;' : '') %>"><%= @future_events.last.theme.html_safe %></div>
		<div id="sub-hero" style="<%= (@future_events.last.header_dark_font? ? 'color:#000;' : '') %>">
			<h3 style="<%= (@future_events.last.header_dark_font? ? 'color:#000;' : '') %>">
        <%= @future_events.last.venue.nil? ? "TBA" : @future_events.last.venue.city %>_<%= @future_events.last.venue.nil? ? "TBA" : @future_events.last.venue.name %>_<%= @future_events.last.hackathon_start.strftime('%^B') %> 
        <%= @future_events.last.hackathon_start.strftime('%-d') %> - 
        <% unless @future_events.last.hackathon_start.mon == @future_events.last.hackathon_end.mon %>
          <%= @future_events.last.hackathon_end.strftime('%^B') %> 
        <% end %>
        <%= @future_events.last.show_start.strftime('%-d') %>
			</h3>
		</div>
	</div>
	<% end %>
		
	<% unless @future_events.last.header_image_artist.blank? %>
    <div id="header-credit">
      <h4><a href="<%= @future_events.last.header_image_artist_website %>" 
      	style="<%= (@future_events.last.header_dark_font? ? 'color:#000;' : '') %>">IMAGERY BY: <%= @future_events.last.header_image_artist %></a></h4>
    </div>
  <% end %>

  <% if @future_events.length > 1 %>
    <div id="header-next-event" class="<%= (@future_events.last.header_dark_font? ? 'dark' : '') %>">
      <h4>
        <%= link_to(@future_events[@future_events.length - 2]) do %>
          Coming Soon</br />
          <%= @future_events[@future_events.length - 2].theme.html_safe %><br />
          <%= @future_events[@future_events.length - 2].venue.nil? ? "TBA" : @future_events[@future_events.length - 2].venue.city %>_<%= @future_events[@future_events.length - 2].hackathon_start.strftime('%^B %-d') %>
        <% end %>
      </h4>
    </div>
  <% end %>

</div>
<% end %>

<div class="section top-margin" id="ahd-about">
	<div class="container">
		<div id="ahd-tagline" class="sixteen columns">
			<h2>
				ART HACK DAY IS AN EVENT FOR HACKERS WHOSE MEDIUM IS ART AND ARTISTS WHOSE MEDIUM IS TECHNOLOGY_<a href="/about">LEARN MORE</a>
			</h2>

		</div>
	</div>	
</div>

<div class="section top-margin">
	<div class="container">
		<div class="sixteen columns section-header">
			<h4>Events _ most recent</h4>
		</div>
    <% if organizer_signed_in? %>
      <div class="sixteen columns" style="margin-bottom:40px;">
        <%= link_to 'New Event', new_event_path, class: 'admin-button' %>
      </div>
    <% end %>
		<ul id="events" class="sixteen columns">
		  <% @events.each do |event| %>
		    <%= link_to(event) do %>
	        <li <%= event.upcoming? ? 'class=upcoming' : nil %>>
     			  <div class="event-wrapper">
  	      	  <div class="left-event"><h2><%= event.theme.html_safe %></h2></div>
  	      	  <div class="right-event">
                <div class="event-page">
                  <h4>
                    <%= event.hackathon_start.strftime('%^B') %> <%= event.hackathon_start.strftime('%-d') %> - 
                      <% unless event.hackathon_start.mon == event.hackathon_end.mon %>
                        <%= event.hackathon_end.strftime('%^B') %> 
                      <% end %>
                      <%= event.hackathon_end.strftime('%-d') %>, <%= event.hackathon_start.strftime('%^Y') %>
                    </h4>
                  </div>
  	      		  <div class="event-page-time"><h4><%=  event.venue.nil? ? "TBA" : event.venue.city %>_<%= event.venue.nil? ? "TBA" : event.venue.name %></h4></div>
  	      	  </div>
  		      </div>
  	      </li>
  	      <% if organizer_signed_in? %>
  		      <div style="margin-bottom:40px;"><%= link_to "Edit #{event.theme}", edit_event_path(event), class: 'admin-button' %></div>
  	      <% end %>
			  <% end %>
		  <% end %>
		</ul>
	</div>
</div>