
<div class="section <%= @events.first.header_image_tiled? ? 'tiled-header' : 'centered-header' %>" id="landing-header" style="background-image: url('<%=@events.first.header_image %>');">

	<%= link_to(@events.first) do %>
	<div class="event-callout">
		<div id="hero" style="<%= (@events.first.header_dark_font? ? 'color:#000;' : '') %>"><%= @events.first.theme %></div>
		<div id="sub-hero" style="<%= (@events.first.header_dark_font? ? 'color:#000;' : '') %>">
			<%=  @events.first.venue.nil? ? "TBA" : @events.first.venue.city %>_<%= @events.first.venue.nil? ? "TBA" : @events.first.venue.name %>_<%= @events.first.hackathon_start.strftime('%^B') %> 
			<%= @events.first.hackathon_start.strftime('%-d') %>-<%= @events.first.show_start.strftime('%-d') %>
		</div>
	</div>
	<% end %>
		
	<% unless @events.first.header_image_artist.blank? %>
    <div id="header-credit">
      <a href="<%= @events.first.header_image_artist_website %>" 
      	style="<%= (@events.first.header_dark_font? ? 'color:#000;' : '') %>">IMAGERY BY: <%= @events.first.header_image_artist %></a>
    </div>
  <% end %>
</div>

<div class="section top-margin" id="ahd-about">
	<div class="container">
		<div id="ahd-tagline" class="sixteen columns">
			<h2>
				ART HACK DAY IS AN EVENT FOR HACKERS WHOSE MEDIUM IS ART AND ARTISTS WHOSE MEDIUM IS TECHNOLOGY_<a href="/about">LEARN MORE</a>
			</h2>

		</div>
	</div>	
</div>

<div class="section top-margin">
	<div class="container">
		<div class="sixteen columns section-header">
			<h4>Events _ most recent</h4>
		</div>

		<ul id="events" class="sixteen columns">
		  <% @events.each do |event| %>
			    <%= link_to(event) do %>

		      <li <%= event.upcoming? ? 'class=upcoming' : nil %>>
	   			    <div class="event-wrapper">
				      	<div class="left-event"><h2><%= event.theme%></h2></div>
				      	<div class="right-event">
				      		<div class="event-page"><h4> <%= event.hackathon_start.strftime('%^B') %> <%= event.hackathon_start.strftime('%-d') %>-<%= event.hackathon_end.strftime('%-d') %>, <%= event.hackathon_start.strftime('%^Y') %></h4></div>
				      		<div class="event-page-time"><h4><%=  event.venue.nil? ? "TBA" : event.venue.city %>_<%= event.venue.nil? ? "TBA" : event.venue.name %></h4></div>
				      	</div>
					</div>

		      </li>
  			  <% end %>
  				<% if organizer_signed_in? %>
			        <span><%= link_to 'Show', event %></span>
			        <span><%= link_to 'Edit', edit_event_path(event) %></span>
			        <br><br><br><br><br>
		      	<% end %>
		  <% end %>
		</ul>
	</div>
	<br>
</div>

<!-- <div class="section">
	<div class="container" id="contact">
		<div class="sixteen columns">
  		To contact us about bringing Art Hack Day to your city or providing sponsorship, contact us at <b>arthackday at gmail dot com</b>.
  		</div>
	</div>
</div> -->