<%= nested_form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %> (as it appears on the front page)<br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :theme %> (short byline, not the whole dissertation)<br>
    <%= f.text_field :theme %>
  </div>
  <div class="field">
    <%= f.label :hackathon_start %><br>
    <%= f.datetime_select :hackathon_start %>
  </div>
  <div class="field">
    <%= f.label :hackathon_end %><br>
    <%= f.datetime_select :hackathon_end %>
  </div>
  <div class="field">
    <%= f.label :show_start %><br>
    <%= f.datetime_select :show_start %>
  </div>
  <div class="field">
    <%= f.label :show_end %><br>
    <%= f.datetime_select :show_end %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :hack_rsvp_url %><br>
    <%= f.text_field :hack_rsvp_url %>
  </div>
  <div class="field">
    <%= f.label :show_rsvp_url %><br>
    <%= f.text_field :show_rsvp_url %>
  </div>
  <div class="field">
    Venue<br>
    <%= select("event", "venue_id", Venue.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'TBA'}) %>
  </div>

    Press Blurbs<br>
    <%= f.fields_for :press_blurbs do |pb| %>
      Headline: <%= pb.text_field :headline %><br>
      Source Name: <%= pb.text_field :source_name %><br>
      Source URL: <%= pb.text_field :source_url %><br>
      <%= pb.link_to_remove "Remove?" %><br>
    <% end %>
    <%= f.link_to_add "Add a Press Blurb", :press_blurbs %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>