<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %> (as it appears on the front page)<br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :theme %> (short byline, not the whole dissertation)<br>
    <%= f.text_field :theme %>
  </div>
  <div class="field">
    <%= f.label :hackathon_start %><br>
    <%= f.datetime_select :hackathon_start %>
  </div>
  <div class="field">
    <%= f.label :hackathon_end %><br>
    <%= f.datetime_select :hackathon_end %>
  </div>
  <div class="field">
    <%= f.label :show_start %><br>
    <%= f.datetime_select :show_start %>
  </div>
  <div class="field">
    <%= f.label :show_end %><br>
    <%= f.datetime_select :show_end %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :hack_rsvp_url %><br>
    <%= f.text_field :hack_rsvp_url %>
  </div>
  <div class="field">
    <%= f.label :show_rsvp_url %><br>
    <%= f.text_field :show_rsvp_url %>
  </div>
  <fieldset>
    Venue<br>
    Do a drop-down menu
  </fieldset>
  <fieldset>
    Press Blurbs<br>
    <ul>
      <%= render(:partial => "press_blurb", :collection => @event.press_blurbs) %>
    </ul>
    <%= link_to "Add New Press Blurb", "#add-press-blurb", :id => "add-another-press-blurb" %>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>