

<div class="section" id="events-page">
	<div class="container">
		<ul id="events" class="sixteen columns">
		  <% @events.each do |event| %>
		    <%= link_to(event) do %>
		      <li <%= event.upcoming? ? 'class=upcoming' : nil %>>
		      	<div class="left-event"><%= event.theme%></div>
		      	<div class="right-event">
		      		<div class="event-page"><%= event.city.upcase %></div>
		      		<div class="event-page-time"><%= event.hackathon_start.strftime('%Y') %></div>
		      	</div>
		      </li>
		    <% end %>
		  <% end %>
		</ul>
	</div>
	<br>
</div>
<!-- 
<div class="section">
	<div class="container" id="contact">
		<div class="sixteen columns">
  		To contact us about bringing Art Hack Day to your city or providing sponsorship, contact us at <b>arthackday at gmail dot com</b>.
  		</div>
	</div>
</div> -->

<div class="section">
	<% if organizer_signed_in? %>
	  <%= link_to 'New Event', new_event_path %>
	<% end %>
</div>

