<div class="section" id="landing-header">
	<div class="container">
		<h1>ART HACK DAY</h1>
	</div>
</div>

<div class="section" id="ahd-about">
	<div class="container">
		<div id="ahd-tagline">
			Art Hack Day is an internet-based nonprofit dedicated to hackers whose medium is art and artists whose medium is tech. We bridge the gap between art, technology and entrepreneurship with grassroots hackathons which demonstrate the expressive potential of new technology and the power of radical collaboration in art. We believe in non-utilitarian beauty through technology and its ability to affect social change for public good.
		</div>
	</div>
</div>


<ul id="events">
  <% @events.sorted_by_date.each do |event| %>
    <%= link_to(event) do %>
      <li <%= event.upcoming? ? 'class=upcoming' : nil %>>
        <%= event.city.upcase + ' (' + event.hackathon_start.strftime('%Y') + '): ' + event.theme %>
      </li>
    <% end %>
  <% end %>
</ul>
<br>
<%= link_to 'New Event', new_event_path %>

<div class="contact">
  <p>To contact us about bringing Art Hack Day to your city or providing sponsorship, contact us at <b>arthackday at gmail dot com</b>.</p>
</div>

<p>© ARTHACKDAY <%= DateTime.now.strftime('%Y') %> Organized by <a href="https://twitter.com/olofster">Olof Mathé</a>, <a href="https://twitter.com/captDaylight">Paul Christophe</a>, and <a href="https://twitter.com/huertanix">David Huerta</a>.</p>