<a id="top" class="anchor"></a>
<div class="section <%= @event.header_image_tiled? ? 'tiled-header' : 'centered-header' %> <%= (@event.header_dark_font? ? 'dark' : '') %>" id="header" style="background-image: url('<%=@event.header_image %>');">
  <div class="event-callout <%= (@event.header_dark_font? ? 'dark' : '') %>">
    <div id="hero"><%= @event.theme.html_safe %></div>
  </div>
  <% unless @event.header_image_artist.blank? %>
    <div id="header-credit" class="<%= (@event.header_dark_font? ? 'dark' : '') %>">
      <a href="<%= @event.header_image_artist_website %>">
        IMAGERY BY: <%= @event.header_image_artist %>
      </a>
    </div>
  <% end %>
</div>

<div class="section" id="event-about">
  <a id="about" class="anchor"></a>
  <div class="container">
    <div class="sixteen columns">
      <div class="section-header">show information</div>
      
      <h2>
        <%= @event.hackathon_start.strftime('%^B') %> <%= @event.hackathon_start.strftime('%-d') %>-<%= @event.hackathon_end.strftime('%-d') %>, <%= @event.hackathon_start.strftime('%^Y') %>
        <br/>
        <%=  @event.venue.nil? ? "TBA" : @event.venue.city %>_<%= @event.venue.nil? ? "TBA" : @event.venue.name %>
      </h2>

    </div>

    <% if @event.upcoming? %> 
      <div class="about-event-section two-thirds column">
    <% else %>
      <div class="about-event-section one-third column">
    <% end %>

    <% if @event.upcoming? %> 

      <div>
        HACKING BEGINS
        <br/>

        <%= @event.hackathon_start.strftime('%A %^B %e, %Y — %l %p') %>
        <br/>
        <br/>
        CLOSING EXHIBIT &amp; PARTY (OPEN TO THE PUBLIC)
        <br/>

        <%= @event.hackathon_end.strftime('%A %^B %e, %Y — %l %p - LATE') %>
      </div>
    <% end %>

      <p>
        <%= @event.about.html_safe %>
      </p>
    </div>
    <% if @event.upcoming? %>
      <a id="attend" class="anchor"></a>
      <%if !@event.show_rsvp_url.blank? || !@event.hack_rsvp_url.blank? %>
        <div class="about-event-right one-third column">
          <div class="border-container">
            <div class="pre-about">
              <%if !@event.show_rsvp_url.blank? %>
              <div>
                <p>Join the Art Hack Day teams on Saturday April 13 starting at 6:00pm for a closing exhibition, live performances, and party.</p>
                <a href="<%= @event.show_rsvp_url%>"><button >RSVP</button></a>
              </div>
              <% end %>
              <%if !@event.hack_rsvp_url.blank? %>
              <div>
                <p>Do you have mad skills? Register to attend the full weekend and collaborate on projects.</p>
                <a href="<%= @event.hack_rsvp_url%>"><button>PARTICIPATE</button></a>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="about-event-right two-thirds column video">
        <% if !@event.featured_video.blank? %>
          <div id="event-video"><%= @event.featured_video.html_safe %></div>
        <% else %>
          <%= image_tag @event.featured_image.url(:medium) %>
        <% end %>
      </div>
    <% end%>
  </div>
</div>
<% if @event.upcoming? && %>

<div class="section" id="location-section">
  <a id="location" class="anchor"></a>
  <div class="container">
    <div class="section-header columns sixteen">Location</div>
  </div>
  <div class="container">
    <div class="location" id="location-container">
      <div class="location-column column full">


      </div>
    </div>
  </div>
</div>
<% end %>

<% unless @event.projects.empty? %>
<div class="section" id="projects">
  <a id="projects" class="anchor"></a>
  <div class="container">
    <div class="section-header columns sixteen">Projects</div>
  </div>
  <div class="container">
    <div class="projects" id="projects-container">
      <div class="project-column column one-third">
        <% @event.projects.each_with_index do |project, index| %>
          <% if (index % 3 == 0) %>
            <div class="project">
              <img src="<%= ( project.featured_thumbnail.blank? ? "http://placekitten.com/300/200" : project.featured_thumbnail ) %>" alt="<%= project.name %>" />
              <div>
                <%= link_to(project) do %>
                  <div class="project-info">
                    <div class="project-wrapper">
                      <div>
                        <div class="basic-colfax">
                          <%= project.name %>
                        </div>
                        <p>
                          <% project.participants.each do |proj_participant| %>
                            _<%= proj_participant.name %>
                          <% end %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end%>
        <% end %>
      </div>
      <div class="project-column column one-third">
        <% @event.projects.each_with_index do |project, index| %>
          <% if (index % 3 == 1) %>
            <div class="project">
              <img src="<%= ( project.featured_thumbnail.blank? ? "http://placekitten.com/300/200" : project.featured_thumbnail ) %>" alt="<%= project.name %>" />
              <div>
                <%= link_to(project) do %>
                  <div class="project-info">
                    <div class="project-wrapper">
                      <div>
                        <div class="basic-colfax">
                          <%= project.name %>
                        </div>
                        <p>
                          <% project.participants.each do |proj_participant| %>
                            _<%= proj_participant.name %>
                          <% end %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end%>
        <% end %>
      </div>
      <div class="project-column column one-third">
        <% @event.projects.each_with_index do |project, index| %>
          <% if (index % 3 == 2) %>
            <div class="project">
              <img src="<%= ( project.featured_thumbnail.blank? ? "http://placekitten.com/300/200" : project.featured_thumbnail ) %>" alt="<%= project.name %>" />
              <div>
                <%= link_to(project) do %>
                  <div class="project-info">
                    <div class="project-wrapper">
                      <div>
                        <div class="basic-colfax">
                          <%= project.name %>
                        </div>
                        <p>
                          <% project.participants.each do |proj_participant| %>
                            _<%= proj_participant.name %>
                          <% end %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end%>
        <% end %>
      </div>

      <!--<div class="project column one-third" style="background: url(http://25.media.tumblr.com/e9e0b008f6bf6a78c3a208efef8126f4/tumblr_mmnfc4gKEs1rlcnubo1_250.jpg);background-size: 100%;background-position: center;">
                <div class="project-info">
          <div class="basic-colfax">
            title of project
          </div>
          <p>
            paul christophe_olof mathe_david huerta
          </p>
        </div>
      </div>-->
    </div>
  </div>
</div>
<% end %>

<div class="section" id="participants">
  <a id="participants" class="anchor"></a>
  <div class="container">
    <div class="section-header columns sixteen">Participants</div>
  </div>
  <div class="container" id="participants-container">
    <div class="column one-third participants-all">

      <% if @event.participants.empty? %>
        Can't wait to meet you!
      <% else %>
        <% parts = order_participants(@event.participants.each) %>
        <% parts.keys.sort.each do |t| %>
          <div class="participant-group" id="<%= t %>-group">
            <h2><%= t %></h2>
            <% parts[t].each do |p| %>

              <div class="participant">
                <div class="name basic-colfax">
                  <span><%= p.name %></span>
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="16.264px" height="8.839px" viewBox="0 0 16.264 8.839" enable-background="new 0 0 16.264 8.839" xml:space="preserve">
                    <g id="Layer_1">
                      <polyline fill="none" stroke="#5000ff" stroke-miterlimit="10" points="0.354,8.485 8.132,0.707 15.91,8.485   "/>
                    </g>
                  </svg>
                </div>
                <div class="participant-additional">
                  <div class="participant-top">
                    <img src="<%= p.photo_url.blank? ? 'http://placekitten.com/48/48' : p.photo_url %>" style="width:48px;height:48px;" />
                    <div>
                      <% if p.twitter_handle.blank? %>
                        <a href="<%= p.website %>"><p><%= p.name %></p></a>
                      <% else %>
                        <a href="https://twitter.com/<%= p.twitter_handle %>"><p>@<%= p.twitter_handle %></p></a>
                        <!--<div class="basic-colfax">Brooklyn, ny</div>-->
                      <% end %>
                    </div>
                  </div>
                  <div class="participant-bottom">
                    <p>
                      <%= p.bio %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="participant-group" id="org-group">
          <h2>ORG.</h2>
          <%= @event.organizer_section.html_safe unless @event.organizer_section.nil? %>
        </div>
      <% end %>

    </div> 
  </div>
</div>

<div class="section" id="press-partners">
  <div class="container">
    <% unless @event.press_blurbs.empty? %>
      <div class="section-header column one-third">Press</div>
    <% end %>
    <% unless @event.sponsors.empty? %>
      <div class="section-header column two-third">Partners</div>
    <%end%>
  </div>

  <div class="container">
    <% unless @event.press_blurbs.empty? %>
      <a id="press" class="anchor"></a>
      <div class="column one-third" id="press-container">
        <div class="border-container">
          <% @event.press_blurbs.each do |blurb| %>
            <div class="press">
              <p>"<%= blurb.headline %>" _<a href="<%= blurb.source_url %>"><%= blurb.source_name %></a><p>
            </div>
          <% end %>
          <!--<div class="press">
            <p>“It’s a new and different art form” _<a href="#">Gomorron Sverige</a><p>
          </div>-->
        </div>
      </div>
    <% end %>
    <div id="partners-container" class="two-thirds column">
      <a id="partners" class="anchor"></a>
      <% @event.sponsors.each do |sponsor| %>
        <div class="column one-third partner">
          <a href="<%=sponsor.website%>">
          <%= image_tag sponsor.logo.url(:thumb), :alt => sponsor.name %>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if organizer_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>

<script type="text/javascript"></script>
