<!-- <div class="section" id="header">
  <div class="container">
    <h1><%= @event.theme %></h1>
    <h2>Art Hack Day :: <%= @event.city %></h2>
  </div>
</div> -->
<div class="section" id="header" style=" 
  background: #000000 url(https://mail.google.com/mail/u/1/?ui=2&ik=3aef77c65f&view=att&th=14157247e3f0b803&attid=0.1.2&disp=emb&zw&atsh=1);
">
  <div class="container">
    <div class="event-callout sixteen columns">
      <div id="hero">GOING DARK</div>
    </div>
  </div>
  <div id="header-credit">
    <a href="#">IMAGERY BY: OCEAN FACE</a>
  </div>
</div>


<div class="section" id="event-about">
  <div class="container">
    <div class="sixteen columns">
      <div class="section-header">show information</div>
      <h2>
        <%= @event.city.upcase + ' _ ' + @event.hackathon_start.strftime('%Y')%>
        <br/>
        <%=@event.theme %>
      </h2>
    </div>
    <div class="about-event-section two-thirds column">

      <div>
        HACKING BEGINS
        <br/>
        <%= @event.hackathon_start.strftime('%D,%Y')%>
        <br/>
        <br/>
        CLOSING EXHIBIT & PARTY (OPEN TO THE PUBLIC)
        <br/>
        <%= @event.hackathon_end.strftime('%D,%Y')%>
      </div>
      <p>
        <%= @event.about %>
      </p>
    </div>
    <div class="about-event-right one-third column">
      <div class="border-container">
        <div class="pre-about">
          <div>
            <p>Join the Art Hack Day teams on Saturday April 13 starting at 6:00pm for a closing exhibition, live performances, and party.</p>
            <button>RSVP</button>
          </div>
          <div>
            <p>Do you have mad skills? Register to attend the full weekend and collaborate on projects.</p>
            <button>PARTICIPATE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @event.upcoming? %>
  <div id="rsvps">
    <p>Do you have mad skills? Register to attend the full weekend and collaborate on projects: 
    <% if @event.hack_rsvp_url? %>
      <a href="<%= @event.hack_rsvp_url %>">Register to hack</a>
    <% else %>
      <a href="https://www.youtube.com/watch?v=JvsvpRZFh2Q">Coming soon</a>
    <% end %>
    </p>
    <p>Join the Art Hack Day teams on <%= @event.show_start.strftime("%A, %b %d starting at %I:%M %p") %> for a closing exhibition, live performances, and party:
      <% if @event.show_rsvp_url? %>
        <a href="<%= @event.show_rsvp_url %>">Register to party</a>
      <% else %>
        <a href="https://www.youtube.com/watch?v=JvsvpRZFh2Q">Coming soon</a>
      <% end %>
    </p>
  </div>
<% else %>
  <div id="media">
    <!-- Add Tumblr API call here. -->
  </div>
<% end %>

</div>

<div class="section" id="projects">

  <div class="container">
      <div class="section-header columns sixteen">Projects</div>
  </div>

  <div class="container">

    <div class="projects" id="projects-container">
      <div class="project column one-third" style="background: url(http://25.media.tumblr.com/91abf2eae53aee102c93272f91480871/tumblr_ml9hack7GH1rlcnubo1_250.jpg);background-size: 100%;">
        <a href="#">
        <div class="project-info">
          <div class="basic-colfax">
            title of project
          </div>
          <p>
            paul christophe_olof mathe_david huerta
          </p>
        </div>
      </a>
      </div>

      <div class="project column one-third" style="background: url(http://25.media.tumblr.com/e9e0b008f6bf6a78c3a208efef8126f4/tumblr_mmnfc4gKEs1rlcnubo1_250.jpg);background-size: 100%;">
                <div class="project-info">
          <div class="basic-colfax">
            title of project
          </div>
          <p>
            paul christophe_olof mathe_david huerta
          </p>
        </div>
      </div>

      <div class="project column one-third" style="background: url(http://25.media.tumblr.com/1843b60b92f349f892676eff0f75e6ca/tumblr_mlkngeuxJt1rlcnubo1_250.jpg);background-size: 100%;">
                <div class="project-info">
          <div class="basic-colfax">
            title of project
          </div>
          <p>
            paul christophe_olof mathe_david huerta
          </p>
        </div>
      </div>

      <div class="project column one-third" style="background: url(http://25.media.tumblr.com/444134443bd751577b950913a412241c/tumblr_mlunhdOLJ21rlcnubo4_250.jpg);background-size: 100%;">
        <div class="project-info">
          <div class="basic-colfax">
            title of project
          </div>
          <p>
            paul christophe_olof mathe_david huerta
          </p>
        </div>
      </div>

      <div class="project column one-third" style="background: url(http://24.media.tumblr.com/483f115476411ffd4badbe2eb9d5d1ce/tumblr_mlvusdGE4n1rlcnubo5_500.jpg);background-size: 100%;">
                <div class="project-info">
          <div class="basic-colfax">
            title of project
          </div>
          <p>
            paul christophe_olof mathe_david huerta
          </p>
        </div>
      </div>


    </ul>
  </div>
</div>


<div class="section" id="participants">

  <div class="container">
      <div class="section-header columns sixteen">Participants</div>
  </div>

  <div class="container" id="participants-container">
    <div class="column one-third">
      <div class="participant-group">
        <h2>A</h2>
        <div class="participant">
          <div class="name basic-colfax">
            paul christophe
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="16.264px" height="8.839px" viewBox="0 0 16.264 8.839" enable-background="new 0 0 16.264 8.839" xml:space="preserve">
              <g id="Layer_1">
                <polyline fill="none" stroke="#5000ff" stroke-miterlimit="10" points="0.354,8.485 8.132,0.707 15.91,8.485   "/>
              </g>
          </svg>
          </div>
          <div class="participant-additional">
            <div class="participant-top">
              <img src="https://si0.twimg.com/profile_images/1766760306/Screen_shot_2011-06-21_at_12.56.45_PM_bigger.png"/>
              <div>
                <a><p>@captDaylight</p></a>
                <div class="basic-colfax">Brooklyn, ny</div>
              </div>
            </div>
            <div class="participant-bottom">
              <p>
                  Likes to get plenty of sleep and stay well hydrated. Bring a towel. 
 **Also ...
 http://arthackday.net  ...
 http://captaindaylight.com
              </p>
            </div>
          </div>
        </div>

      </div>
            <div class="participant-group">
        <h2>A</h2>
        <div class="participant">
          <div class="name basic-colfax">
            paul christophe
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="16.264px" height="8.839px" viewBox="0 0 16.264 8.839" enable-background="new 0 0 16.264 8.839" xml:space="preserve">
              <g id="Layer_1">
                <polyline fill="none" stroke="#5000ff" stroke-miterlimit="10" points="0.354,8.485 8.132,0.707 15.91,8.485   "/>
              </g>
          </svg>
          </div>
          <div class="participant-additional">
            <div class="participant-top">
              <img src="https://si0.twimg.com/profile_images/1766760306/Screen_shot_2011-06-21_at_12.56.45_PM_bigger.png"/>
              <div>
                <a><p>@captDaylight</p></a>
                <div class="basic-colfax">Brooklyn, ny</div>
              </div>
            </div>
            <div class="participant-bottom">
              <p>
                  Likes to get plenty of sleep and stay well hydrated. Bring a towel. 
 **Also ...
 http://arthackday.net  ...
 http://captaindaylight.com
              </p>
            </div>
          </div>
        </div>        <div class="participant">
          <div class="name basic-colfax">
            paul christophe
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="16.264px" height="8.839px" viewBox="0 0 16.264 8.839" enable-background="new 0 0 16.264 8.839" xml:space="preserve">
              <g id="Layer_1">
                <polyline fill="none" stroke="#5000ff" stroke-miterlimit="10" points="0.354,8.485 8.132,0.707 15.91,8.485   "/>
              </g>
          </svg>
          </div>
          <div class="participant-additional">
            <div class="participant-top">
              <img src="https://si0.twimg.com/profile_images/1766760306/Screen_shot_2011-06-21_at_12.56.45_PM_bigger.png"/>
              <div>
                <a><p>@captDaylight</p></a>
                <div class="basic-colfax">Brooklyn, ny</div>
              </div>
            </div>
            <div class="participant-bottom">
              <p>
                  Likes to get plenty of sleep and stay well hydrated. Bring a towel. 
 **Also ...
 http://arthackday.net  ...
 http://captaindaylight.com
              </p>
            </div>
          </div>
        </div>        <div class="participant">
          <div class="name basic-colfax">
            paul christophe
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="16.264px" height="8.839px" viewBox="0 0 16.264 8.839" enable-background="new 0 0 16.264 8.839" xml:space="preserve">
              <g id="Layer_1">
                <polyline fill="none" stroke="#5000ff" stroke-miterlimit="10" points="0.354,8.485 8.132,0.707 15.91,8.485   "/>
              </g>
          </svg>
          </div>
          <div class="participant-additional">
            <div class="participant-top">
              <img src="https://si0.twimg.com/profile_images/1766760306/Screen_shot_2011-06-21_at_12.56.45_PM_bigger.png"/>
              <div>
                <a><p>@captDaylight</p></a>
                <div class="basic-colfax">Brooklyn, ny</div>
              </div>
            </div>
            <div class="participant-bottom">
              <p>
                  Likes to get plenty of sleep and stay well hydrated. Bring a towel. 
 **Also ...
 http://arthackday.net  ...
 http://captaindaylight.com
              </p>
            </div>
          </div>
        </div>
      </div>
                  <div class="participant-group">
        <h2>A</h2>
                <div class="basic-colfax">
          paul christophe
        </div>
                        <div class="basic-colfax">
          paul christophe
        </div>
                        <div class="basic-colfax">
          paul christophe
        </div>
      </div>
            <div class="participant-group">
        <h2>A</h2>
        <div class="basic-colfax">
          paul christophe
        </div>

      </div>
            <div class="participant-group">
        <h2>A</h2>
                <div class="basic-colfax">
          paul christophe
        </div>
                        <div class="basic-colfax">
          paul christophe
        </div>
                        <div class="basic-colfax">
          paul christophe
        </div>
      </div>
                  <div class="participant-group">
        <h2>A</h2>
                <div class="basic-colfax">
          paul christophe
        </div>
                        <div class="basic-colfax">
          paul christophe
        </div>
                        <div class="basic-colfax">
          paul christophe
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section" id="press-partners">
  <div class="container">
      <div class="section-header column one-third">Press</div>
      <div class="section-header column two-third">Partners</div>
  </div>

  <div class="container">
      <div class="column one-third" id="press-container">
        <div class="border-container">
          <div class="press">
            <p>“It’s a new and different art form” _<a href="#">Gomorron Sverige</a><p>
          </div>
                    <div class="press">
            <p>“It’s a new and different art form” _<a href="#">Gomorron Sverige</a><p>
          </div>
                    <div class="press">
            <p>“It’s a new and different art form” _<a href="#">Gomorron Sverige</a><p>
          </div>
        </div>
      </div>
      <div id="partners-container">
        <div class="column one-third partner"></div>
        <div class="column one-third partner"></div>
        <div class="column one-third partner"></div>
        <div class="column one-third partner"></div>
      </div>
  </div>
</div>






<% if organizer_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Home', events_path %>

<script type="text/javascript">

</script>