<div class="section" id="header">
  <div class="container">
    <h1><%= @event.theme %></h1>
    <h2>Art Hack Day :: <%= @event.city %></h2>
  </div>
</div>


<div class="section" id="about">
  <div class="container">
    <div class="about-paragraph">
      <%= @event.about %>
    </div>
  </div>
</div>



<% if organizer_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Home', events_path %>

<script type="text/javascript">

</script>