<div class="section" id="header">
  <div class="container">
    <h1><%= @event.theme %></h1>
    <h2>Art Hack Day :: <%= @event.city %></h2>
  </div>
</div>


<div class="section" id="about">
  <div class="container">
    <div class="about-paragraph">
      <%= @event.about %>
    </div>
  </div>
</div>

<% if @event.upcoming? %>
  <div id="rsvps">
    <p>Do you have mad skills? Register to attend the full weekend and collaborate on projects: 
    <% if @event.hack_rsvp_url? %>
      <a href="<%= @event.hack_rsvp_url %>">Register to hack</a>
    <% else %>
      <a href="https://www.youtube.com/watch?v=JvsvpRZFh2Q">Coming soon</a>
    <% end %>
    </p>
    <p>Join the Art Hack Day teams on <%= @event.show_start.strftime("%A, %b %d starting at %I:%M %p") %> for a closing exhibition, live performances, and party:
      <% if @event.show_rsvp_url? %>
        <a href="<%= @event.show_rsvp_url %>">Register to party</a>
      <% else %>
        <a href="https://www.youtube.com/watch?v=JvsvpRZFh2Q">Coming soon</a>
      <% end %>
    </p>
  </div>
<% else %>
  <div id="media">
    <!-- Add Tumblr API call here. -->
  </div>
<% end %>

</div>

<div class="section" id="projects">
  <div class="container">
    <div class="section-header">Projects</div>
    <ul class="projects">
      <li class="project" style="background-image:url(http://25.media.tumblr.com/91abf2eae53aee102c93272f91480871/tumblr_ml9hack7GH1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/40ce17df63bef44e7b2f2edabb1ed174/tumblr_mlzd82f3oM1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/fdbab4544dde8417301fff1a3fbce2f4/tumblr_mmi6skrwIt1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/51c0593694f45852edec49af9cc46863/tumblr_mj5qr7f3HS1rlcnubo1_250.png)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/21289233a59dff6f80e497f314b23d0e/tumblr_mj3oyqdaWu1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/d2b9ea37b0e84e677beb8bc182fe978b/tumblr_mj229oZLJQ1rlcnubo4_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li>

      <li class="project" style="background-image:url(http://25.media.tumblr.com/91abf2eae53aee102c93272f91480871/tumblr_ml9hack7GH1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/40ce17df63bef44e7b2f2edabb1ed174/tumblr_mlzd82f3oM1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/fdbab4544dde8417301fff1a3fbce2f4/tumblr_mmi6skrwIt1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/51c0593694f45852edec49af9cc46863/tumblr_mj5qr7f3HS1rlcnubo1_250.png)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/21289233a59dff6f80e497f314b23d0e/tumblr_mj3oyqdaWu1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/d2b9ea37b0e84e677beb8bc182fe978b/tumblr_mj229oZLJQ1rlcnubo4_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li>
      <li class="project" style="background-image:url(http://25.media.tumblr.com/91abf2eae53aee102c93272f91480871/tumblr_ml9hack7GH1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/40ce17df63bef44e7b2f2edabb1ed174/tumblr_mlzd82f3oM1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/fdbab4544dde8417301fff1a3fbce2f4/tumblr_mmi6skrwIt1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/51c0593694f45852edec49af9cc46863/tumblr_mj5qr7f3HS1rlcnubo1_250.png)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/21289233a59dff6f80e497f314b23d0e/tumblr_mj3oyqdaWu1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/d2b9ea37b0e84e677beb8bc182fe978b/tumblr_mj229oZLJQ1rlcnubo4_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li>
      <li class="project" style="background-image:url(http://25.media.tumblr.com/91abf2eae53aee102c93272f91480871/tumblr_ml9hack7GH1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/40ce17df63bef44e7b2f2edabb1ed174/tumblr_mlzd82f3oM1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/fdbab4544dde8417301fff1a3fbce2f4/tumblr_mmi6skrwIt1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/51c0593694f45852edec49af9cc46863/tumblr_mj5qr7f3HS1rlcnubo1_250.png)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/21289233a59dff6f80e497f314b23d0e/tumblr_mj3oyqdaWu1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/d2b9ea37b0e84e677beb8bc182fe978b/tumblr_mj229oZLJQ1rlcnubo4_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li>
      <li class="project" style="background-image:url(http://25.media.tumblr.com/91abf2eae53aee102c93272f91480871/tumblr_ml9hack7GH1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/40ce17df63bef44e7b2f2edabb1ed174/tumblr_mlzd82f3oM1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/fdbab4544dde8417301fff1a3fbce2f4/tumblr_mmi6skrwIt1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/51c0593694f45852edec49af9cc46863/tumblr_mj5qr7f3HS1rlcnubo1_250.png)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/21289233a59dff6f80e497f314b23d0e/tumblr_mj3oyqdaWu1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/d2b9ea37b0e84e677beb8bc182fe978b/tumblr_mj229oZLJQ1rlcnubo4_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li>
      <li class="project" style="background-image:url(http://25.media.tumblr.com/91abf2eae53aee102c93272f91480871/tumblr_ml9hack7GH1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/40ce17df63bef44e7b2f2edabb1ed174/tumblr_mlzd82f3oM1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/fdbab4544dde8417301fff1a3fbce2f4/tumblr_mmi6skrwIt1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/51c0593694f45852edec49af9cc46863/tumblr_mj5qr7f3HS1rlcnubo1_250.png)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://25.media.tumblr.com/21289233a59dff6f80e497f314b23d0e/tumblr_mj3oyqdaWu1rlcnubo1_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li><li class="project" style="background-image:url(http://24.media.tumblr.com/d2b9ea37b0e84e677beb8bc182fe978b/tumblr_mj229oZLJQ1rlcnubo4_250.jpg)">
        <div class="project-inner">
          <h2>Time Machine</h2>
        </div>
      </li>


    </ul>
  </div>
</div>



<% if organizer_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Home', events_path %>

<script type="text/javascript">

</script>