<%= nested_form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "64x8" %>
  </div>
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <small>Don't forget the http:// or https://</small><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :github %><br>
    <small>Don't forget the http:// or https://</small><br>
    <%= f.text_field :github %>
  </div>
  <div class="field">
    Event<br>
    <%= select("project", "event_id", current_organizer.allowed_events.collect {|e| [ e.theme, e.id ] }) %>
  </div>
  <!-- Pay no attention to this form field! -->
  <!--<div class="field">
    <%= f.label :main_image %><br>
    <%= f.file_field :main_image %>
  </div>-->
  <div class="field">
    <%= f.label :featured_thumbnail %><br>
    <small>Don't forget the http:// or https://</small><br>
    <%= f.text_field :featured_thumbnail %>
  </div>
  <div class="field">
    Participants<br>
    <%= hidden_field_tag "project[participant_ids][]", nil %>
    <div class="admin-three-column">
      <% Participant.all.each do |participant| %>
        <label class="checkbox">
        <%= check_box_tag "project[participant_ids][]", participant.id, @project.participant_ids.include?(participant.id), id: dom_id(participant) %>
        <%= participant.name %>
        </label><br>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :photos %><br>
    <%= f.fields_for :photos do |p| %>
      <% unless p.object.image.nil? %>
        <%= image_tag p.object.image.url(:chibi), :alt => "" %>
      <% end %>
      <br />
      Photo: <%= p.file_field :image %><br />
      Credit: <%= p.text_field :credit %><br />
      <%= p.link_to_remove "Remove?" %><br />
      <br />
    <% end %>
    <%= f.link_to_add "Add another Photo", :photos %>
  </div>
  <div class="field">
    <%= f.label :medium %><br>
    <%= f.fields_for :medium do |m| %>
      HTML Snippet: <%= m.text_area :snippet, size: "64x8" %><br>
      <%= m.link_to_remove "Remove?" %><br>
    <% end %>
    <%= f.link_to_add "Add another Media Snippet", :medium %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
