<p id="notice"><%= notice %></p>

<div class="section" id="project-page">
	<div class="container">
		<div id="project">
			<div class="one-third column" id="project-description">
        
				<h2><%= @project.name %></h2>
	    	<div class="basic-colfax black-link">
	      	<%= link_to(@project.event) do %>
            <%= @project.event.theme + " : " + @project.event.city %>
          <% end %>
	    	</div>
	    	<p><%= @project.description.html_safe %></p>
	    	<% if @project.website? %>
				  <a href="<%= @project.website %>"><p>Project Website</p></a>
        <% end %>
  			<% if @project.github? %>
          <a href="<%= @project.github %>"><p>Project Github</p></a>
        <% end %>
        <div class="section-header basic-colfax">
          contributors
        </div>
        <% @project.participants.each do |participant| %>
          <div class="project-contributor">
            <img src="<%= participant.photo_url.blank? ? 'http://placekitten.com/48/48' : participant.photo_url %>" style="width:48px;height:48px;" />
            <div>
              <div class="basic-colfax"><%= participant.name %></div>
              <% unless participant.twitter_handle.blank? %>
                <p>
                  <a href="https://www.twitter.com/<%= URI.encode_www_form_component "#{participant.twitter_handle}" %>">@<%= participant.twitter_handle %>
                  </a>
                </p>
              <% end %>
            </div>
  		    </div>
        <% end %>
		    <!--<div class="project-contributor">
          <img src="https://si0.twimg.com/profile_images/3258619754/02839446b5983cff17edfd914cbde4fe_bigger.jpeg"/>
          <div>
            <div class="basic-colfax">paul christophe</div>
            <a><p>@captDaylight</p></a>
          </div>
		    </div>-->
			</div>
			<div class="two-thirds column" id="project-contents">
				<div class="project-item">
					<img src="http://24.media.tumblr.com/0529e8668efdcca9dc49903f9c378417/tumblr_mlko99SShA1rlcnubo1_500.jpg"/>
				</div>
				<div class="project-item">
					<img src="http://24.media.tumblr.com/5f4ffdc41cdd5879f9ae39d076472180/tumblr_mmd43lHzOo1rlcnubo1_500.png"/>
				</div>
				<div class="project-item">
					<img src="http://24.media.tumblr.com/588e6fe2724f7e5ed17290004ffb227c/tumblr_mlzgz291X21rlcnubo1_500.jpg"/>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>

<div class="section">
  <div class="container">
    <% if organizer_signed_in? %>
      <%= link_to 'Edit', edit_project_path(@project) %>
    <% end %>
  </div>
</div>