

<div class="section" id="project-page">
	<div class="container">
		<div id="project">
			<div class="one-third column" id="project-description">
				<h2>  <%= @project.name %> project title</h2>
		        <div class="basic-colfax">
		        	berlin larger than life
		        </div>
		        <p>The Glitch booth started as a response to Instagram: computer generated filters that emulate the errors of analog lenses and aestehtic of instant film to generate enhanced digital images.
Gritch, aims to capture images degraded by computer generated errors on instant film. The process in which glitchs are created or generated are hardly social, the booth aims to make "social" the production of imperfect images in the same way Instagram socialize the acummulation of enhanced images.</p><p>
Errors and imperfections are larger than life, aren't they?</p>
				<a href="#"><p>Project Website</p></a>
				<a href="#"><p>Project Github</p></a>
				<div class="section-header basic-colfax">
		        	contributors
		        </div>
		        <div class="project-contributor">
			        <img src="https://si0.twimg.com/profile_images/1793418464/388888_10150511898106391_592121390_10881362_712276188_n_bigger.jpg"/>
		    	    <div>
		    	    	<div class="basic-colfax">paul christophe</div>
		    	    	<a><p>@captDaylight</p></a>
		        	</div>
		      	</div>
		        <div class="project-contributor">
			        <img src="https://si0.twimg.com/profile_images/3258619754/02839446b5983cff17edfd914cbde4fe_bigger.jpeg"/>
		    	    <div>
		    	    	<div class="basic-colfax">paul christophe</div>
		    	    	<a><p>@captDaylight</p></a>
		        	</div>
		      	</div>
			</div>
			<div class="two-thirds column" id="project-contents">
				<div class="project-item">
					<img src="http://24.media.tumblr.com/0529e8668efdcca9dc49903f9c378417/tumblr_mlko99SShA1rlcnubo1_500.jpg"/>
				</div>
				<div class="project-item">
					<img src="http://24.media.tumblr.com/5f4ffdc41cdd5879f9ae39d076472180/tumblr_mmd43lHzOo1rlcnubo1_500.png"/>
				</div>
				<div class="project-item">
					<img src="http://24.media.tumblr.com/588e6fe2724f7e5ed17290004ffb227c/tumblr_mlzgz291X21rlcnubo1_500.jpg"/>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>




<div class="section">
  <div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @project.tag %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
</div>