<div class="section" id="landing-header">
  <!-- <iframe src="//player.vimeo.com/video/79574829?title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
	<div id="about-video-container">
		<div class="big-play">
			<svg version="1.1" id="play-button-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="78.279px" height="90.39px" viewBox="0 0 78.279 90.39" enable-background="new 0 0 78.279 90.39" xml:space="preserve">
        <polygon fill="none" stroke="#FFFFFF" stroke-miterlimit="10" points="0.5,0.866 77.279,45.195 0.5,89.523 "/>
      </svg>
		</div>
		<video id="about-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="100%" height="100%" poster="video/berlin_poster.jpg" data-setup='{"example_option":true}'>
			<source src="/video/art_hack_day_going_dark_sd.mp4" type='video/mp4' />
			<source src="/video/art_hack_day_going_dark_sd.webm" type='video/webm' />
			<source src="/video/art_hack_day_going_dark_sd.ogv" type='video/ogg' />
		</video>
	</div>
</div>

<div class="section" id="about-page">

  <div class="container" id="about-header">
    <div class="sixteen columns">
      <div id="ahd-tagline">
        <h2>Art Hack Day is an internet-based nonprofit dedicated to hackers whose medium is art and artists whose medium is tech. </h2>
      </div>
    </div>
  </div>
  <div class="container about-what-section">
    <div class="one-third column">
      <img src="/img/about/Arthackday_About_What-is.jpg"/>
    </div>
    <div class="two-thirds column"> 
      <div class="section-header">WHAT IS ART HACK DAY?</div>
      <p>Art Hack Day is an internet-based nonprofit dedicated to hackers whose medium is art and artists whose medium is tech. We bridge the gap between art, technology and entrepreneurship with grassroots hackathons &amp; exhibitions that demonstrate the expressive potential of new technology and the power of radical collaboration in art. We believe in non-utilitarian beauty through technology and its ability to affect social change for public good.</p>
    </div>
  </div>
  <div class="container about-what-section">
    <div class="one-third column">
      <img src="/img/about/Arthackday_About_How-it-works.jpg"/>
    </div>
    <div class="two-thirds column"> 

      <div class="section-header">HOW DOES IT WORK?</div>
      <p>Sixty artists-hackers and hacker-artists inhabit an art space to create an exhibit from scratch during 48h. We start on a Thursday evening with a meet & greet and provide good food, fast Internet, and equipment for collaborating on and creating new work. On Saturday evening we transition from hackspace to exhibition hall and the projects are shown to the public during a flash exhibit (open to the public just one evening). There are no demos but plenty of performances. Depending on location, 500-1,000 visitors come to the opening with >10,000 uniques online.</p>
    </div>
  </div>  
<!--   <div class="container about-what-section">
    <div class="one-third column">
      <img src="https://scontent-b-ord.xx.fbcdn.net/hphotos-prn1/1016219_652590831432406_400949765_n.jpg"/>
    </div>
    <div class="two-thirds column">
      <div class="section-header">NOT SURE WHAT TO DO WITH THIS SECTION</div>
      <p>blurb</p>
    </div>
  </div>   -->

  <div class="container about-partner-venue">
    <div class="one-third column partner-container">
      <div class="section-header">HOST AN ART HACK DAY</div>
      <p>Art Hack Day is a grassroots event driven by outstanding co-organizers and co-organizing art spaces around the world. The following art spaces have co-organized Art Hack Days in the past: </p>
      <ul>
        <li><a href="http://319scholes.org/">319 SCHOLES</a></li>
        <li><a href="http://www.transmediale.de/">TRANSMEDIALE</a></li>
        <li><a href="http://www.leapknecht.de/">LEAP</a></li>
        <li><a href="http://www.bonnierskonsthall.se/en/utstallning/body-talk/">BONNIERS KONSTHALL</a></li>
        <li><a href="http://www.gaffta.org/">GAFFTA</a></li>
      </ul>
      <a href="mailto:arthackday@gmail.com"><button class="one-third column alpha omega">BECOME A PARTNER</button></a>
    </div>
    <div class="two-thirds column"> 
      <img src="/img/about/Arthackday_About_Partners.jpg"/>
    </div>
  </div>  

  <div class="container about-press">
    <div class="sixteen columns">
      <div class="section-header">WHAT PEOPLE ARE SAYING ABOUT ART HACK DAY</div>
    </div>

    <% @press_blurbs.each do |blurb| %>
      <div class="one-third column about-press-blurb">
        <a href="<%= blurb.source_url %>">
          <div>
            <div>
              <div class="section-header"><%= blurb.source_name %></div>
              <p>"<%= blurb.headline %>"</p>
            </div>
          </div>
        </a>
      </div>
    <% end %>

    <!-- press blurb -->
    <!--<div class="one-third column about-press-blurb">
      <a href="#">
        <div>
          <div>
            <div class="section-header">NEW YORK TIMES</div>
            <p>“The theme explores how we use technology to be seen but also to become invisible and lay out smokescreens”</p>
          </div>
        </div>
      </a>
    </div>-->
    <!-- close press blurb -->

  <div class="container about-sponsors">
    <div class="sixteen columns">
      <div class="section-header">SPONSOR AN EVENT</div>
    </div>
    <div class="two-thirds column">
      <p>Art Hack Day provides an unprecedented opportunity to reach a targeted audience of technology visionairies, digital artists, coders, tastemakers and entrepreneurs both in U.S., Europe, and globally.</p><p>We are happy to work with companies that share our values and have a long-term interest in nurturing the community and supporting future exhibitions.</p>
    </div>
    <div class="sixteen columns sponsor-space"></div>
    <% @sponsors.each do |sponsor| %>
      <a href="<%= sponsor.website %>">
        <div class="one-third column about-sponsor">
          <%= image_tag sponsor.logo.url(:thumb), :alt => sponsor.name %>
        </div>
      </a>
    <% end %>
    <!-- sponsor -->
    <!--<div class="one-third column about-sponsor"></div>--><!-- close sponsor -->
    <div class="sixteen columns sponsor-us">
      <a href="mailto:arthackday@gmail.com">
        <div>SPONSOR US</div>
      </a>
    </div>
  </div>

</div>

