<!DOCTYPE html>
<html>
	<head>
		<title>Art Hack Day</title>
		<link rel="icon" href="/img/ahd_assets/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="/img/ahd_assets/favicon.ico" type="image/x-icon"/>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
		<% #javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "nested_form" %>
		<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
		<%= csrf_meta_tags %>
		<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
		<link href="//vjs.zencdn.net/4.2/video-js.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta property="og:title" content="ART HACK DAY"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.arthackday.net"/>
		<meta property="og:image" content="http://www.arthackday.net/img/ahd_assets/ahd_logo_black.svg"/>
		<meta property="og:site_name" content="ART HACK DAY"/>
		<meta property="og:description" content="ART HACK DAY is an event for hackers whose medium is art and artists whose medium is technology."/>

		<meta name="google-site-verification" content="zu9Bbmki1kIgzpwZbMDTBpmHUUljuDUIKjFMxM75Dh4" />
	</head>
	<body>
		<div class="section animated nav" id="nav-main">
			<% flash.each do |name, msg| -%>
      	<%= content_tag :div, msg, class: name %>
    	<% end -%>
			<% # This block is why Ruby sometimes blows ~ .dh %>
			<% unless @event.nil? %>
				<% #@event.inspect # Run this in a project edit page, shit bricks. %>
				<% if @event.attributes.has_key? 'header_dark_font' %>
					<% if @event.header_dark_font === true %>
						<% show_dark_text = true %>
					<% end %>
				<% end %>
			<% end %>
			<% unless @events.nil? %>
				<% if @events.first.attributes.has_key? 'header_dark_font' %>
					<% if @events.first.header_dark_font === true %>
						<% show_dark_text = true %>
					<% end %>
				<% end %>
			<% end %>
			<% if params[:controller] === "projects" || params[:controller] === "organizers" %>
				<% show_dark_text = true %>
			<% end %>
			<div class="nav-left">
				<% if show_dark_text %>
				<a href="/"><img src="/img/ahd_assets/ahd_logo_black.svg" id="black-logo"/></a>
				<% else %>
				<a href="/"><img src="/img/ahd_assets/ahd_logo_white.svg" id="white-logo"/></a>
				<% end %>
			</div>
			<div class="nav-right <%= (show_dark_text === true ? 'dark':'') %>">
				<% if params[:controller] == "about" %>
					<ul class="about">
				<% elsif params[:controller] == "events" %>
					<ul class="events">
				<% elsif params[:controller] == "contact" %>
					<ul class="contact">
				<% else %>
					<ul>
				<% end %>
					<li class="about">
						<a href="/about">About</a>
					</li>
					<!--<li class="events"><a href="/events">Events</a></li>-->
					<li class="contact">
						<a href="/contact" style="<%= (show_dark_text === true ? 'color:#000;':'') %>">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="section nav invisible animated" id="nav-drop">
			<div class="nav-left">
				<div class="back-to-top"><a href="/"><img src="/img/ahd_assets/AHD_Logo_Horizontal-White.svg" alt="back up"/></a></div>
			</div>
			<div class="nav-right">
				<% if params[:controller] == "about" %>
					<ul class="about">
				<% elsif params[:controller] == "events" %>
					<ul class="events">
				<% elsif params[:controller] == "contact" %>
					<ul class="contact">
				<% else %>
					<ul>
				<% end %>
					<li class="about"><a href="/about">About</a></li>
					<!-- <li class="events"><a href="/events">Events</a></li> -->
					<li class="contact"><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>

		<%= yield %>
		
		<div class="section" id="footer">
			<div id="footer-top">
				<div class="container sixteen columns">
					<div class="pull-left">
						<ul id="social-section">
							<li id="twitter-social">
								<a href="https://twitter.com/arthackday">
									<svg fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
										<g id="twitter" display="inline">
											<g>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M56.569,14.179v-0.032c0.557-0.218,0.997-0.68,1.441-1.022
													c2-1.541,3.301-3.57,4.26-6.164c-0.544,0.298-1.089,0.596-1.634,0.894c-1.68,0.853-4.532,2.079-6.727,2.267
													c-2.586-2.356-5.292-4.209-10.378-4.12c-0.534,0.064-1.068,0.128-1.602,0.192c-1.037,0.227-2.024,0.508-2.915,0.894
													c-3.724,1.616-6.263,4.631-7.431,8.814c-0.465,1.664-0.654,4.445-0.064,6.164c-2.101-0.003-4.135-0.334-5.894-0.767
													C18.69,19.594,14.372,17.29,9.578,13.54C8.17,12.439,6.789,11.191,5.67,9.804C5.309,9.357,4.74,8.965,4.485,8.43
													C4.463,8.42,4.442,8.409,4.421,8.398c-0.557,1.032-1.08,2.15-1.409,3.417c-1.3,4.994,0.755,9.188,2.947,11.912
													c0.664,0.826,1.741,1.338,2.402,2.108h0.064c-0.497,0.184-1.361-0.071-1.794-0.16c-1.024-0.211-1.897-0.405-2.755-0.766
													c-0.448-0.213-0.897-0.426-1.345-0.639c-0.021,5.517,2.766,9.103,6.182,11.241c1.114,0.697,2.672,1.635,4.292,1.724
													c-0.867,0.732-4.575,0.396-5.862,0.255c1.609,4.142,4.081,6.9,8.328,8.399c1.096,0.387,2.433,0.729,3.908,0.703
													c-0.783,0.93-2.454,1.687-3.556,2.331c-2.272,1.329-4.91,2.191-7.88,2.842c-1.191,0.261-2.457,0.207-3.748,0.415
													c-1.427,0.23-2.92-0.122-4.196-0.16c0.384,0.234,0.769,0.469,1.153,0.703c1.171,0.713,2.394,1.338,3.716,1.916
													c2.379,1.04,4.914,1.826,7.72,2.523c5.658,1.405,13.64,0.773,18.579-0.766c13.754-4.286,22.443-14.292,25.722-29.03
													c0.564-2.535,0.646-5.414,0.609-8.431c0.683-0.543,1.367-1.086,2.05-1.629c1.693-1.356,3.28-3.246,4.452-5.11v-0.032
													C61.768,12.864,59.418,14.149,56.569,14.179z"/>
											</g>
										</g>
									</svg>
									<!-- <img src="img/SVG/twitter.svg"> -->
								</a>
							</li>
							
							<li id="facebook-social">
								<a href="https://www.facebook.com/arthackday">

									<svg fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
										<g id="facebook_1_" display="inline">
											<g>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M36.963,22.048c0.092-3.345-0.525-8.003,0.515-9.593
													c1.902-2.911,9.496-2.154,9.496-2.154s0-6.612,0-10.303c-11.982,0-15.903-0.501-20.015,3.675
													c-3.658,3.715-3.771,11.011-4.072,18.375h-5.872V32.12h5.938c-0.002,10.504,0.003,22.016,0,31.884c4.462,0,13.954,0,13.954,0
													v-32.01c0,0,5.173,0,8.042,0c0.626-3.385,1.236-6.036,2.088-9.947H36.963z"/>
											</g>
										</g>
									</svg>
								</a>
							</li>

							<li id="tumblr-social">
								<a href="http://arthackday.tumblr.com/">
									<svg fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
										<g id="tumblr" display="inline">
											<g>
												<path fill-rule="evenodd" clip-rule="evenodd" d="M42.41,53.584c-1.816,0-3.423-0.428-4.834-1.275
													c-1.063-0.629-2.039-1.718-2.428-2.767c-0.391-1.049-0.343-3.19-0.343-6.905V26.215h14.728V14.788H34.806V-0.028h-9.062
													c-0.405,3.308-1.15,6.026-2.231,8.16c-1.08,2.142-2.508,3.973-4.3,5.502c-1.78,1.525-4.681,2.699-7.184,3.513v9.068h8.654v22.455
													c0,2.933,0.305,5.167,0.915,6.708c0.614,1.537,1.706,2.997,3.291,4.368c1.577,1.36,3.487,2.42,5.725,3.162
													c2.237,0.734,3.955,1.101,6.869,1.101c2.565,0,4.95-0.258,7.16-0.779c2.207-0.52,4.673-1.428,7.394-2.711v-10.1
													C48.844,52.527,45.637,53.584,42.41,53.584z"/>
											</g>
										</g>
									</svg>
								</a>
							</li>
						</ul>
						<div id="newsletter-signup">
							<div id="signup">
								NEWSLETTER SIGN UP
							</div>
							<div id="signup-input">
								<input type="text"/>
								<button>SUBMIT</button>
							</div>
						</div>
					</div>
					<div class="pull-right">
						<div id="main-sponsors">
							<a href="http://mailchimp.com/"><img src="/img/ahd_assets/mailchimp-white.png" alt="mailchimp"/></a>
							<div>THANKS TO OUR MAIN SPONSOR</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer-bottom">
				<div class="container">
					<div id="organized-by">© ARTHACKDAY <%= DateTime.now.strftime('%Y') %> -  ORGANIZED BY <a href="https://twitter.com/olofster">OLOF MATHÉ</a>, <a href="https://twitter.com/captDaylight">PAUL CHRISTOPHE</a>, AND <a href="https://twitter.com/huertanix">DAVID HUERTA</a>.</div>
				</div>
			</div>
		</div> 
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
		<script type="text/javascript" src="/javascripts/lib/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/lib/waypoints.min.js"></script>
		<script type="text/javascript" src="/javascripts/lib/fitvids.js"></script>
		<script type="text/javascript" src="/javascripts/lib/fittext.js"></script>
		<script src="//vjs.zencdn.net/4.2/video.js"></script>
		<script type="text/javascript" src="/javascripts/main.js"></script>
	</body>
</html>
