<!DOCTYPE html>
<html>
	<head>
	  <title>Art Hack Day</title>
	  <link rel="icon" href="/img/ahd_assets/favicon.ico" type="image/x-icon"/>
	  <link rel="shortcut icon" href="/img/ahd_assets/favicon.ico" type="image/x-icon"/>
	  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	  <% #javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "nested_form" %>
	  <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
	  <%= csrf_meta_tags %>
	  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="/css/style.css" />
	  <meta name="google-site-verification" content="zu9Bbmki1kIgzpwZbMDTBpmHUUljuDUIKjFMxM75Dh4" />
	</head>
	<body>
		<div class="section animated nav" id="nav-main">
			<div class="nav-left">
				<a href="/"><img src="/img/ahd_assets/ahd_logo_white.svg" id="white-logo"/></a>
				<a href="/"><img src="/img/ahd_assets/ahd_logo_black.svg" id="black-logo"/></a>
			</div>
			<div class="nav-right">
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="section nav invisible animated" id="nav-drop">
			<div class="nav-left">
				<div class="back-to-top"><a href="/"><img src="/img/ahd_assets/AHD_Logo_Horizontal-White.svg" alt="back up"/></a></div>
			</div>
			<div class="nav-right">
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
		
		<%= yield %>
		
		<div class="section" id="footer">
			<div id="footer-top">
				<div class="container sixteen columns">
					<div class="pull-left">
						<ul id="social-section">
							<li id="twitter-social"><a href="https://twitter.com/arthackday"><img src="img/SVG/twitter.svg"></a></li>
							<li id="facebook-social"><a href="https://www.facebook.com/arthackday"><img src="img/SVG/facebook_1.svg"></a></li>
							<li id="tumblr-social"><a href="http://arthackday.tumblr.com/"><img src="img/SVG/tumblr.svg"></a></li>


						</ul>
						<div id="newsletter-signup">
							<div id="signup">
								NEWSLETTER SIGN UP
							</div>
							<div id="signup-input">
								<input type="text"/>
								<button>SUBMIT</button>
							</div>
						</div>
					</div>
					<div class="pull-right">
						<div id="main-sponsors">
							<a href="http://mailchimp.com/"><img src="/img/ahd_assets/mailchimp-white.png" alt="mailchimp"/></a>
							<div>THANKS TO OUR MAIN SPONSOR</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer-bottom">
				<div class="container">
					<div id="organized-by">© ARTHACKDAY <%= DateTime.now.strftime('%Y') %> -  ORGANIZED BY <a href="https://twitter.com/olofster">OLOF MATHÉ</a>, <a href="https://twitter.com/captDaylight">PAUL CHRISTOPHE</a>, AND <a href="https://twitter.com/huertanix">DAVID HUERTA</a>.</div>
				</div>
			</div>
		</div> 
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
		<script type="text/javascript" src="/javascripts/lib/jquery.js"></script>
		<script type="text/javascript" src="/javascripts/lib/waypoints.min.js"></script>
		<script type="text/javascript" src="/javascripts/main.js"></script>
		<script type="text/javascript" src="/javascripts/lib/masonry.js"></script>
		<script>
		  $(function(){
		 
		 //    var $container = $('#projects-container');
		
			// $container.masonry({
			//   columnWidth: 340,
			//   itemSelector: '.project'
			// });
		    // $container.imagesLoaded( function(){
		    //   $container.masonry({
		    //   	columnWidth:'200',
		    //     itemSelector : '.project'
		    //   });
		    // });
		   

		   // for the about page
		  });
		</script>


	</body>
</html>
